/* * {
    margin: 0;
}
*/
/* .btn-wrapper btn{
  background-color: rgba(199,232,238,255);
} */



/* .cart-wrapper {
    height: 250px;
    border: 1px solid;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
}

.cart-wrapper item {
    background-color: antiquewhite;
}

.cart-wrapper btn {
    background-color: rgba(199, 232, 238, 255);
    border-radius: 10px;
} */ 